# Dependencias locales (se reinstalan dentro del contenedor)
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Control de versiones
.git
.gitignore

# Archivos de configuración de Docker
Dockerfile
docker-compose*.yml

# Archivos temporales / sistema
*.log
*.md
*.env
config.json
dist
