---
import TableDispenser from "../components/table-dispenser";
import Layout from "../layouts/with-sidebar.astro";
---

<Layout title="Astro">
  <div class="w-4/5 mx-auto">
    <TableDispenser client:load />
  </div>
</Layout>
