---
// src/pages/home.astro
import Layout from "../layouts/with-sidebar.astro";
import { CardDashboard } from "../components/cards/cardDashboard";
import { ChartVentaDashboard } from "../components/charts/chartVentaDashboard";
import { ChartPastelProductos } from "../components/charts/chartVentaProdDashboard";
import { ChartManguerasBar } from "../components/charts/chartVentaNozzleDashboard";
---

<script is:inline>
  if (localStorage.getItem("isLoggedIn") !== "true") {
    window.location.href = "/login"; // protección
  }
</script>

<Layout title="Inicio">
  <CardDashboard client:load />
  <ChartVentaDashboard client:load />
  <div class="flex gap-3"> 
    <ChartPastelProductos client:load />
    <ChartManguerasBar client:load />
  </div>
</Layout>
