---
// src/pages/index.astro
import Layout from "../layouts/with-sidebar.astro";
---

<script is:inline>
  const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
  if (isLoggedIn) {
    window.location.href = "/home"; // si ya está logueado → al dashboard
  } else {
    window.location.href = "/login"; // si no → al login
  }
</script>


<Layout title="pe">
  <h1 class="text-3xl font-bold">listo</h1>
</Layout>
