---
// src/pages/index.astro
import Layout from "../layouts/with-sidebar.astro";
import { CardDashboard } from "../components/cardDashboard";
import ChartVentaDashboard from "../components/charts/chartVentaDashboard";
import { ChartBarraProductos } from "../components/charts/chartVentaProdDashboard";
---

<Layout title="Inicio">
   <CardDashboard client:load />
   <ChartVentaDashboard client:load />
      <ChartBarraProductos client:load />
   </div>
</Layout>
