---
// src/pages/index.astro
import Layout from "../layouts/with-sidebar.astro";
import { CardDashboard } from "../components/cards/cardDashboard";
import ChartVentaDashboard from "../components/charts/chartVentaDashboard";
import { ChartBarraProductos } from "../components/charts/chartVentaProdDashboard";
import {ChartMangueras} from "../components/charts/chartVentaNozzleDashboard";
---

<Layout title="Inicio">
   <CardDashboard client:load />
   <ChartVentaDashboard client:load />
      <div class="flex gap-3"> 
         <ChartBarraProductos client:load />
      <ChartMangueras client:load />
      </div>
  
</Layout>
