---
import LoginForm from "../components/LoginForm.tsx";
import BlankLayout from "../layouts/blank.astro";
---

<BlankLayout title="Iniciar sesión">
  <div class="flex items-center justify-center min-h-screen">
    <LoginForm client:load />
  </div>
</BlankLayout>
