---
// src/layouts/blank.astro
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bit Controller</title>
  </head>
  <body class="bg-background-0">
    <slot />
  </body>
</html>
