---
// src/layouts/blank.astro
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
  </head>
  <body class="bg-blue-500">
    <slot />
  </body>
</html>
