---
import SidebarOptions from "../components/ui/optionsSidebar";
import SidebarFiltros from "../components/sidebar/filterGeneralSidebar";
import SidebarTurnos from "../components/sidebar/FilterTurnosSidebar";
import "../styles/global.css";

const { title = "Isi Global Solutions" } = Astro.props;
---

<html lang="es" class="w-full min-h-screen overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logocompr.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="w-full h-full flex">
    <SidebarOptions client:load />
    <SidebarFiltros client:load />
    <SidebarTurnos client:only="react" />
    <!-- Contenido principal -->
    <main class="flex-1 bg-background-100 p-6 overflow-y-auto">
      <slot />
    </main>
  </body>
</html>
