---
import Sidebar from "../components/ui/sidebar";
import "../styles/global.css";

const { title = "Isi Global Solutions" } = Astro.props;
---

<html lang="es" class="w-full min-h-screen overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="w-full h-full flex">
    <Sidebar client:load />

    <!-- Contenido principal -->
    <main class="flex-1 bg-gray-300 p-6 overflow-y-auto">
      <slot />
    </main>
  </body>
</html>
