---
import { TableDispenserPorts } from "../table-dispenser-ports";
import { TableDispenserConfig } from "../table-dispenser-config";
import { TableFuelConfig } from "../table-fuel-config";

const tabs = [
  { label: "Surtidores", id: "dispensers" },
  { label: "Combustibles", id: "fuel" },
  // { label: "Users", id: "users" },
];
---

<div class="w-full">
  <div class="flex border-b mb-4" id="tabs">
    {
      tabs.map((tab, index) => (
        <button
          class="tab px-4 py-2 text-gray-600 hover:text-blue-600 border-b-2 border-transparent hover:border-blue-600 aria-selected:text-blue-600 aria-selected:border-blue-600"
          data-tab={tab.id}
          // aria-selected={index === 0 ? "true" : "false"}
        >
          {tab.label}
        </button>
      ))
    }
  </div>

  <div id="tab-panels">
    <div id="panel-dispensers" class="tab-panel flex">
      <div class="w-2/5 mx-auto mt-4">
        <TableDispenserPorts client:only="react" />
      </div>
      <div class="w-2/5 mx-auto mt-4">
        <TableDispenserConfig client:only="react" />
      </div>
    </div>
    <div id="panel-fuel" class="tab-panel hidden">
      <TableFuelConfig client:only="react" />
    </div>
    <!-- <div id="panel-users" class="tab-panel hidden">
      <UserTable client:only="react" />
    </div> -->
  </div>
</div>

<script is:inline>
  const tabs = document.querySelectorAll("#tabs .tab");
  const panels = document.querySelectorAll("#tab-panels .tab-panel");

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      const targetId = tab.dataset.tab;

      tabs.forEach((t) => {
        t.classList.remove("border-blue-600", "text-blue-600");
        t.setAttribute("aria-selected", "false");
      });
      tab.classList.add("border-blue-600", "text-blue-600");
      tab.setAttribute("aria-selected", "true");

      panels.forEach((panel) => panel.classList.add("hidden"));
      document.getElementById(`panel-${targetId}`)?.classList.remove("hidden");
    });
  });
</script>
